$titleColor: hsl(50, 40%, 40%);
$titleShadow: hsl(50, 50%, 12%);

header h1 {
    color: $titleColor; 
    @include adjust-font-size-to( 145px );
    @include adjust-leading-to( 7 );
    float: left;
    font-family: 'ExistenceUnicaseLight';
    position: relative;
    text-indent: -7px;
    text-shadow:
        1px 1px 0 $titleShadow;

    /*
    -webkit-animation: colorstrobe 60s infinite linear;
    */
}

header h1 a,
header h1 a:visited {
    color: $titleColor;
    cursor: pointer;
}

header h1 a b {
    cursor: pointer;
}

header h1 b {
    cursor: default;
    xdisplay: block;
    xfloat: left;
    position: relative;
    z-index: 10;
}

html header h1 b.active {
    color: lighten( $titleColor, 10% );
}

header h1 b:nth-of-type( 10 ),
header h1 b:nth-of-type( 11 ),
{
    font-size: 100px;
}

/*
header h1 b:nth-of-type( 1 ) {
    color: adjust-hue( darken( $titleColor, 10% ), 0deg );
    @include adjust-font-size-to( 164px );
    margin: {
        left: 0;
    }
    top: 15px;
}

header h1 b:nth-of-type( 2 ) {
    margin: {
        right: 20px;
    }
    top: 20px;
}

header h1 b:nth-of-type( 3 ) {
    color: adjust-hue( darken( $titleColor, 3% ), 0deg );
    top: -5px;
}

header h1 b:nth-of-type( 4 ) {
    @include adjust-font-size-to( 174px );
    top: -5px;
}

header h1 b:nth-of-type( 5 ) {
    color: darken( $titleColor, 6% );
    margin: {
        right: -10px;
    }
    top: -30px;
}

header h1 b:nth-of-type( 6 ) {
    color: adjust-hue( darken( $titleColor, 5% ), 0deg );
    @include adjust-font-size-to( 174px );
    margin: {
        right: 20px;
    }
    top: -20px;
}

header h1 b:nth-of-type( 7 ) {
    color: lighten( $titleColor, 2% );
    @include adjust-font-size-to( 194px );
}

header h1 b:nth-of-type( 8 ) {
    color: adjust-hue( $titleColor, 0deg );
    margin: {
        right: 10px;
    }
}

header h1 b:nth-of-type( 9 ) {
    @include adjust-font-size-to( 164px );
    color: darken( $titleColor, 3% );
    margin: {
        right: 30px;
    }
}

header h1 b:nth-of-type( 10 ) {
    @include adjust-font-size-to( 144px );
    color: lighten( $titleColor, 3% );
    margin: {
        right: 10px;
    }
    top: 30px;
}

header h1 b:nth-of-type( 11 ) {
    color: adjust-hue( lighten( $titleColor, 3% ), 0deg );
    @include adjust-font-size-to( 124px );
    top: 50px;
}
*/

/*
header h1.shadow {
    position: absolute;
}

header h1.shadow b {
    color: hsla(0, 0%, 0%, 0);
    @include transform(
        skew( 0deg, 0 )
    );
    left: -13px;
    text-shadow:
        0 0 30px hsla(0, 0%, 0%, 0.5);
    z-index: 5;
}
*/
