/* Night */

body.night {
    background: {
        color: $ground; 
        image: url( /images/noise-1.png );
        size: 512px;
    }
    color: $bodyText; 
}

body.night header h1 {
}

body.night #circles {
    background: {
        color: black;
        image:
           url( /images/clouds.png ),
           url( /images/moon1.png ),
           url( /images/stars.jpg );
    }
}

body.night #circles b {
    border: 10px solid hsl(200, 0%, 10%);
}


body.night #circles:after {
    /*
    @include background(
        radial-gradient(
            ( $circleDiameter / 2 ) ( $circleDiameter / 2 ),
            hsla(0, 0%, 10%, 0) $circleDiameter / 2,
            hsl(0, 0%, 10%) $circleDiameter / 2
        )
    );
    */
}
