/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "pygments.scss";

/* Set vertical rhythm configurables */
$base-font-size: 16px;
$base-line-height: 24px;
$default-rhythm-border-style: solid;
$relative-font-sizing: false;

@import "compass/typography/vertical_rhythm";

@include establish-baseline( 16px );

@font-face {
    font-family: 'FranchiseRegular';
    src: url('/fonts/franchise/franchise-bold-webfont.eot');
    src: url('/fonts/franchise/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/franchise/franchise-bold-webfont.woff') format('woff'),
         url('/fonts/franchise/franchise-bold-webfont.ttf') format('truetype'),
         url('/fonts/franchise/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
    color: hsl(6, 71%, 47%);
}

a:visited {
    color: hsl(6, 51%, 27%);
}

a:hover {
    text-decoration: none;
}

::selection {
    background: hsl(6, 71%, 47%);
}

::-moz-selection {
    background: hsl(6, 71%, 47%);
}

p {
    @include margin-trailer( 1 );
}

pre {
    display: block;
    font-family: monospace;
    @include margin-leader( 1 );
    @include margin-trailer( 1 );
    @include padding-leader( 1 );
    @include padding-trailer( 1 );
    overflow-x: auto;
}

body {
    color: hsl( 0, 0%, 20% );
    font-family: Lucida Grande, Helvetica, Arial, sans-serif;
    @include adjust-font-size-to( 16px );
}

#container {
    margin: 0 auto;
    padding: 0 0 50px;
    width: 600px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'FranchiseRegular';
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
    color: hsl(0, 0%, 20%);
    text-decoration: none;
}

h1 {
    @include adjust-font-size-to( 72px );
}

h2 {
    @include adjust-font-size-to( 60px );
}

h3 {
    @include adjust-font-size-to( 48px );
}

em {
    font-style: italic;
}

header {
    display: block;
}

header h1 {
    color: hsl(0, 0%, 90%);
    @include adjust-font-size-to( 186px );
    @include adjust-leading-to( 7 );
    position: relative;
    text-indent: -7px;
    text-shadow: 1px 1px 0 hsl(0, 0%, 60%);
    text-transform: uppercase;
}

header h1 b {
    @include adjust-font-size-to( 144px );
    position: absolute;
    right: -70px;
    top: -10px;
}

header h1 a,
header h1 a:visited {
    color: hsl(0, 0%, 90%);
}

header p {
    @include adjust-font-size-to( 24px );
    color: hsl(6, 71%, 47%);
    @include margin-trailer( 1 );
    text-align: right;
}

footer {
    background-color: hsla(0, 0%, 90%, 0.8);
    @include adjust-font-size-to( 24px );
    @include border-radius( 10px 10px 0 0 );
    bottom: 0;
    display: block;
    font: {
        family: 'FranchiseRegular';
    }
    left: 50%;
    margin: {
        left: -350px;
    }
    padding: 0 50px;
    position: fixed;
    text-transform: uppercase;
    width: 600px;

    @include transition( box-shadow 0.2s, background-color 0.2s );
}

footer:hover {
    background-color: hsla(0, 0%, 90%, 1);
    @include box-shadow( 0 0 2em hsla(0, 0%, 60%, 1) );
}

footer li {
    float: left;
    padding: 5px 30px 5px 0;
}

footer a {
    text-decoration: none;
}

article {
    border: {
        top: 1px solid hsl(0, 0%, 80%);
    }
    @include margin-trailer( 1 );
    position: relative;
}

article h2 {
    @include margin-trailer( 1 );
}

article time {
    background-color: hsl(0, 0%, 80%);
    @include border-radius( 0 0 0 10px );
    color: hsl(0, 0%, 100%);
    float: right;
    padding: {
        left: 15px;
        right: 10px;
    }
    @include padding-leader( 1, 36px );
    @include padding-trailer( 1, 36px );
}
