/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "pygments.scss";

/* Set vertical rhythm configurables */
$base-font-size: 16px;
$base-line-height: 24px;
$default-rhythm-border-style: solid;
$relative-font-sizing: false;

@import "compass/typography/vertical_rhythm";

@include establish-baseline( 16px );

@font-face {
    font-family: 'FranchiseRegular';
    src: url('/fonts/franchise/franchise-bold-webfont.eot');
    src: url('/fonts/franchise/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/franchise/franchise-bold-webfont.woff') format('woff'),
         url('/fonts/franchise/franchise-bold-webfont.ttf') format('truetype'),
         url('/fonts/franchise/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    -webkit-font-smoothing: antialiased;
}

a {
    color: hsl(6, 71%, 47%);
}

a:visited {
    color: hsl(6, 51%, 27%);
}

a:hover {
    text-decoration: none;
}

::selection {
    background: hsl(6, 71%, 47%);
}

::-moz-selection {
    background: hsl(6, 71%, 47%);
}

p {
    @include margin-trailer( 1 );
}

pre {
    border: {
        color: hsl(0, 0%, 90%);
    }
    display: block;
    font-family: monospace;
    @include margin-leader( 1 );
    @include margin-trailer( 1 );
    overflow-x: auto;
    @include rhythm-borders( 1px, 1, 16px );
}

code {
    font-family: monospace;
}

blockquote {
    background: {
        color: hsl(0, 0%, 90%);
    }
    padding: {
        left: 25px;
        right: 25px;
    }
    @include margin-trailer( 1 );
    @include padding-leader( 1 );
    @include rhythm-borders( 1px );
}

body {
    color: hsl( 0, 0%, 20% );
    font-family: Lucida Grande, Helvetica, Arial, sans-serif;
    @include adjust-font-size-to( 16px );
}

#container {
    margin: 0 auto;
    position: relative;
    width: 600px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'FranchiseRegular';
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
    color: hsl(0, 0%, 20%);
    text-decoration: none;
}

h1 {
    @include adjust-font-size-to( 72px );
}

h2 {
    @include adjust-font-size-to( 60px );
}

h3 {
    @include adjust-font-size-to( 48px );
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

header {
    display: block;
}

header h1 {
    color: hsl(0, 0%, 90%);
    @include adjust-font-size-to( 184px );
    @include adjust-leading-to( 7 );
    position: relative;
    text-indent: -7px;
    text-shadow: 1px 1px 0 hsl(0, 0%, 60%);
    text-transform: uppercase;
}

header h1 b {
    @include adjust-font-size-to( 144px );
    margin-right: -100px;
    position: relative;
    top: -30px;
}

header h1 a,
header h1 a:visited {
    color: hsl(0, 0%, 90%);
}

header h1 a:before {
    @include adjust-font-size-to( 72px );
    content: '\02190 Home';
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 45px;
}

header h1:hover a:before {
    left: -200px;
    opacity: 1;
}

header p {
    @include adjust-font-size-to( 24px );
    color: hsl(6, 71%, 47%);
    @include margin-trailer( 1 );
    text-align: right;
}

footer {
    @include apply-side-rhythm-border( top, 1px, 1, 16px, solid );
    border: {
        color: hsl(0, 0%, 80%);
    }
    @include adjust-font-size-to( 24px );
    display: block;
    font: {
        family: 'FranchiseRegular';
    }
    @include padding-leader( 1 );
    @include padding-trailer( 1 );
    text-align: center;
    text-transform: uppercase;
    width: 600px;
}

footer:hover,
footer.active {
}

footer li {
    display: inline-block;
    padding: 0 10px;
}

footer a {
    text-decoration: none;
}

article {
    border: {
        top: 1px solid hsl(0, 0%, 80%);
    }
    @include margin-trailer( 1 );
    position: relative;
}

article h2 {
    @include margin-trailer( 1 );
}

article time {
    background-color: hsl(0, 0%, 80%);
    @include border-radius( 0 0 0 10px );
    color: hsl(0, 0%, 100%);
    float: right;
    padding: {
        left: 15px;
        right: 10px;
    }
    @include padding-leader( 1, 36px );
    @include padding-trailer( 1, 36px );
}

/* About Me Section */

#about img {
    @include border-radius( 10px );
    float: right;
}

/* Article List on Homepage */

section.posts {
    @include apply-side-rhythm-border( top, 1px, 1, 16px, solid );
    border: {
        color: hsl(0, 0%, 80%);
    }
    @include margin-trailer( 1 );
}

section.posts li:first-of-type {
    padding: 0;
}

section.posts li {
    @include apply-side-rhythm-border( bottom, 1px, 1, 16px, solid );
    border: {
        color: hsl(0, 0%, 80%);
    }
    @include padding-leader( 1 );
}

section.posts time {
    @include adjust-font-size-to( 12px );
    color: hsl(0, 0%, 60%);
    float: right;
}

section.posts li a.title {
    color: hsl(0, 0%, 20%);
    display: block;
    @include adjust-font-size-to( 36px );
    font-family: 'FranchiseRegular';
    text-decoration: none;
}

section.posts p.excerpt {
}

section.posts li.expanded p.excerpt {
}

/* Circles */
#circles {
    left: -150px;
    position: absolute;
    top: 28px;
    width: 100px;
}

#circles .background {
    background: {
        attachment: fixed;
        image: url( /images/strip-moon.jpg );
        ximage: url( /images/strip-autumn.jpg );
        position: top center;
    }
    -moz-mask:
            -moz-radial-gradient(
                50px 50px,
                hsl(0, 0%, 100%) 0,
                hsl(0, 0%, 100%) 50px,
                hsla(0, 0%, 0%, 0) 50px
            );
     -moz-mask-repeat: repeat-y;
     -moz-mask-size: 100px 150px;
     -webkit-mask:
            -webkit-radial-gradient(
                50px 50px,
                hsl(0, 0%, 100%) 0,
                hsl(0, 0%, 100%) 50px,
                hsla(0, 0%, 0%, 0) 50px
            );
    -webkit-mask-repeat: repeat-y;
    -webkit-mask-size: 100px 150px;
    height: 1000px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
}

#circles b {
    border: 10px solid hsl(0, 0%, 100%);
    @include border-radius( 52px );
    @include box-shadow(
        inset 0 0 1em hsl(0, 0%, 0%)
    );
    display: block;
    height: 84px;
    left: -2px;
    margin-bottom: 46px;
    position: relative;
    top: -2px;
    width: 84px;
}

/* Night */
body.night {
    background: {
        color: hsl(200, 10%, 10%);
    }
    color: hsl(0, 0%, 80%);
}

body.night header h1 {
    color: hsl(0, 0%, 15%);
    text-shadow: 1px 1px 0 hsl(0, 0%, 60%);
}

body.night #circles b {
    border: 10px solid hsl(200, 10%, 10%);
}

