@-webkit-keyframes clouds {
    from {
        background-position:
            50% 100%,
            0px 0%,
            10% -20%,
            0% 0%;
    }
    to {
        background-position:
            50% 100%,
            512px 0%,
            10% -20%,
            0% 0%;
    }
}

#sky {
    background: {
        color: black;
        position:
            50% 100%,
            50% 0%,
            10% -20%,
            0% 0%;
        repeat:
            no-repeat,
            repeat,
            no-repeat,
            repeat;
        size:
            100% 100%,
            auto auto,
            auto auto,
            auto auto;
    }
    @include background-image(
        linear-gradient(
            50% 100%,
            hsla(300, 50%, 30%, 0.7) 0%,
            hsla(0, 50%, 50%, 0.7) 10%,
            hsla(20, 50%, 50%, 0.7) 15%,
            hsla(40, 50%, 50%, 0.6) 30%,
            hsla(200, 50%, 30%, 0.6) 50%,
            hsla(200, 50%, 10%, 0) 100%
        ),
        url( /images/clouds.png ),
        url( /images/moon2.png ),
        url( /images/stars.jpg )
    );
    height: 300px;
    width: 100%;

    -webkit-animation:
        clouds 20s infinite linear;
}

$hillSize: 15000px;
$horizonSize: 1000px;

#horizon {
    background: {
        position:
            50% 50%,
            50% 200px;
        repeat:
            repeat,
            no-repeat;
        size:
            256px,
            $hillSize + 100 $hillSize + 100;
    }
    @include background-image(
        url( /images/noise-small.png ),
        radial-gradient(
            darken( $ground, 50% ), 
            $ground $hillSize / 2 - 200, 
            lighten($ground, 10%) $hillSize / 2, 
            hsla(0, 0%, 0%, 0.3) $hillSize / 2,
            hsla(0, 0%, 0%, 0) ( $hillSize / 2 ) + 20
        )
    );
    height: $horizonSize;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#container {
    margin: {
        top: -170px;
    }
}

@media all and (min-width: 1600px) {
    /*
    #container {
        border: 10px solid red;
    }
    */

    #sky {
        @include background-image(
            linear-gradient(
                50% 100%,
                hsla(300, 50%, 30%, 0.7) 30%,
                hsla(0, 50%, 50%, 0.7) 40%,
                hsla(20, 50%, 50%, 0.7) 45%,
                hsla(40, 50%, 50%, 0.6) 50%,
                hsla(200, 50%, 30%, 0.6) 70%,
                hsla(200, 50%, 10%, 0) 100%
            ),
            url( /images/clouds.png ),
            url( /images/moon2.png ),
            url( /images/stars.jpg )
        );
        height: 400px;
    }

    $hillSize: 25000px;
    $horizonSize: 1000px;

    #horizon {
        background: {
            size:
                256px,
                $hillSize + 100 $hillSize + 100;
        }
        @include background-image(
            url( /images/noise-small.png ),
            radial-gradient(
                darken( $ground, 50% ), 
                $ground $hillSize / 2 - 200, 
                lighten($ground, 10%) $hillSize / 2, 
                hsla(0, 0%, 0%, 0.3) $hillSize / 2,
                hsla(0, 0%, 0%, 0) ( $hillSize / 2 ) + 20
            )
        );
        height: $horizonSize;
    }

    #container {
        margin: {
            top: -270px;
        }
    }
}

@media all and (min-width: 2400px) {
    /*
    #container {
        border: 10px solid orange;
    }
    */

    #sky {
        @include background-image(
            linear-gradient(
                50% 100%,
                hsla(300, 50%, 30%, 0.7) 30%,
                hsla(0, 50%, 50%, 0.7) 40%,
                hsla(20, 50%, 50%, 0.7) 45%,
                hsla(40, 50%, 50%, 0.6) 50%,
                hsla(200, 50%, 30%, 0.6) 70%,
                hsla(200, 50%, 10%, 0) 100%
            ),
            url( /images/clouds.png ),
            url( /images/moon2.png ),
            url( /images/stars.jpg )
        );
        height: 400px;
    }

    $hillSize: 25000px;
    $horizonSize: 1000px;

    #horizon {
        background: {
            size:
                256px,
                $hillSize + 100 $hillSize + 100;
        }
        @include background-image(
            url( /images/noise-small.png ),
            radial-gradient(
                darken( $ground, 50% ), 
                $ground $hillSize / 2 - 200, 
                lighten($ground, 10%) $hillSize / 2, 
                hsla(0, 0%, 0%, 0.3) $hillSize / 2,
                hsla(0, 0%, 0%, 0) ( $hillSize / 2 ) + 20
            )
        );
        height: $horizonSize;
    }

    #container {
        margin: {
            top: -270px;
        }
    }
}

@media all and (min-width: 3000px) {
    /*
    #container {
        border: 10px solid orange;
    }
    */

    #sky {
        @include background-image(
            linear-gradient(
                50% 100%,
                hsla(300, 50%, 30%, 0.7) 30%,
                hsla(0, 50%, 50%, 0.7) 40%,
                hsla(20, 50%, 50%, 0.7) 45%,
                hsla(40, 50%, 50%, 0.6) 50%,
                hsla(200, 50%, 30%, 0.6) 70%,
                hsla(200, 50%, 10%, 0) 100%
            ),
            url( /images/clouds.png ),
            url( /images/moon2.png ),
            url( /images/stars.jpg )
        );
        height: 400px;
    }

    $hillSize: 35000px;
    $horizonSize: 1000px;

    #horizon {
        background: {
            size:
                256px,
                $hillSize + 100 $hillSize + 100;
        }
        @include background-image(
            url( /images/noise-small.png ),
            radial-gradient(
                darken( $ground, 50% ), 
                $ground $hillSize / 2 - 200, 
                lighten($ground, 10%) $hillSize / 2, 
                hsla(0, 0%, 0%, 0.3) $hillSize / 2,
                hsla(0, 0%, 0%, 0) ( $hillSize / 2 ) + 20
            )
        );
        height: $horizonSize;
    }

    #container {
        margin: {
            top: -270px;
        }
    }
}
