@-webkit-keyframes clouds {
    from {
        background-position:
            50% 100%,
            0px 0%,
            10% -20%,
            0% 0%;
    }
    to {
        background-position:
            50% 100%,
            512px 0%,
            10% -20%,
            0% 0%;
    }
}

#sky {
    background: {
        color: black;
        position:
            50% 100%,
            50% 0%,
            10% -20%,
            0% 0%;
        repeat:
            no-repeat,
            repeat,
            no-repeat,
            repeat;
        size:
            100% 100%,
            auto auto,
            auto auto,
            auto auto;
    }
    @include background-image(
        linear-gradient(
            50% 100%,
            hsla(300, 50%, 30%, 0.7) 0%,
            hsla(0, 50%, 50%, 0.7) 10%,
            hsla(20, 50%, 50%, 0.7) 15%,
            hsla(40, 50%, 50%, 0.6) 30%,
            hsla(200, 50%, 30%, 0.6) 50%,
            hsla(200, 50%, 10%, 0) 100%
        ),
        url( /images/clouds.png ),
        url( /images/moon2.png ),
        url( /images/stars.jpg )
    );
    height: 300px;
    xposition: fixed;
    width: 100%;

    -webkit-animation:
        clouds 20s infinite linear;
}

$hillSize: 15000px;
$horizonSize: 600px;

#horizon {
    background: {
        position:
            50% 50%,
            50% 200px;
        repeat:
            repeat,
            no-repeat;
        size:
            auto,
            $hillSize + 100 $hillSize + 100;
    }
    @include background-image(
        url( /images/noise.png ),
        radial-gradient(
            $ground $hillSize / 2 - 200, 
            lighten($ground, 10%) $hillSize / 2, 
            hsla(0, 0%, 0%, 0.3) $hillSize / 2,
            hsla(0, 0%, 0%, 0) ( $hillSize / 2 ) + 20
        )
    );
    height: $horizonSize;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/*
#horizon {
    background: {
        position:
            50% 50%;
        repeat:
            repeat,
            no-repeat;
        size:
            512px,
            $hillSize * 2 $hillSize * 2;
    }
    @include background-image(
        url( /images/noise.png ),
        radial-gradient(
            50% $hillSize * 2,
            $ground $hillSize - 150,
            lighten($ground, 10%) $hillSize, 
            hsla(0, 0%, 0%, 0) $hillSize
        )
    );
    height: $horizonSize;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
*/

#container {
    margin: {
        top: -170px;
    }
}
