---
layout: default
title: Nate Eagle's Front-End-Development Memoranda
excerpt: true
---
<section class="posts">
    <ul>
    {% for post in site.posts limit:10 %}

        {% if post.layout == "post" %}

            <li>
                <time>{{ post.date | date: "%B %d, %Y" }}</time>
                <a class="title" href="{{ post.url }}">{{ post.title }}</a>
                <p class="excerpt">
                    {% if post.summary %}
                        {{ post.summary }}
                    {% else %}
                        {{ post.content | strip_html | truncatewords: 50 }}
                    {% endif %}
                    <a href="{{ post.url }}" class="more">Read&nbsp;the&nbsp;full&nbsp;post&nbsp;&rarr;</a>

                </p>
            </li>

        {% endif %}

    {% endfor %}
    </ul>
</section>

<section id="about">
    <h2>About Me</h2>
    <img src="/images/perplexed-nate.jpg" alt="">

    {% include about.textile %}
</section>
