header {
    h1 {
        font: {
            family: 'bpdots';
            size: 48px;
        }
        text-transform: uppercase;

        b {
            clear: both;
            float: left;
        }
    }
}
