<!doctype html>
<html>
<head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/screen.css">
</head>

<body>
    <div id="container">

        <header>
            <h1>{{ page.title }}</h1>
            <p>In which I write things about front-end development down so that I don&rsquo;t forget them.</p>
        </header>

        {{ content }}

        <footer>
            <ul>
                <li><a href="">Contact</a></li>
                <li><a href="http://nateeagle.com">Portfolio</a></li>
                <li><a href="http://twitter.com/#!/neagle">Twitter</a></li>
                <li><a href="http://www.linkedin.com/in/nathanaeleagle">Linked In</a></li>
                <li><a href="http://github.com/neagle">GitHub</a></li>
            </ul>
        </footer>

    </div><!-- end #container -->

</body>
</html>

