<!doctype html>
<html>
<head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/screen.css">
</head>

<body>
    <div id="container">

        <header>
            <h1>
                {% if page.date %}
                    <a href="/">Nate Eagle<b>&rsquo;s</b></a>
                {% else %}
                    Nate Eagle<b>&rsquo;s</b>
                {% endif %}
            </h1>
            <p>front-end-development memoranda.</p>
        </header>

        {{ content }}

        {% include footer.textile %}

    </div><!-- end #container -->

</body>
</html>

