<!doctype html>
<html>
<head>
    <title>{{ page.title }} - Nate Eagle</title>

    <link rel="stylesheet" href="/css/screen.css">
</head>

<body>
    <div id="container">

        <header>
            <h1><a href="/">Nate Eagle<b>&rsquo;s</b></a></h1>
            <p>front-end-development memoranda.</p>
        </header>

        <article>

            <h2>{{ page.title }}</h2>

        {{ content }}

        </article>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'nateeagle';

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        {% include footer.textile %}

    </div><!-- end #container -->

</body>
</html>

